{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block body %}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_table }}#}
{#        <button type="submit">Login</button>#}
{#        <input type="hidden" name="next" value="/" />#}
{#    </form>#}

    <link rel="stylesheet" href="{% static 'css/styles/form.css' %}">
    
    <div class="row">
            <div class="box">
                <div class="col-lg-12" style="text-align: center">
                    <hr>
                    <h2 class="intro-text text-center">Login
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Enter user information below</p>
                    <form role="form" style="text-align:center" method="post" action="">
                        {% csrf_token %}
                        <div class="row" style="text-align: center;">
                            <div class="col-lg-4"></div>
                                <div class="form-group col-lg-4">
                                    <label class="form-label">Username</label>
                                    {% render_field form.username class+="form-control" %}
                                    <label class="form-label">Password</label>
                                    {% render_field form.password class+="form-control" %}
                                    <button type="submit" class="btn btn-primary submit">Login</button>
                                    <input type="hidden" name="next" value="/" />
                                </div>
                            <div class="col-lg-4"></div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
{% endblock %}