<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tracker</title>
</head>
<body>

<h1>TenPm</h1>

<h2>User: {{ user.username }}</h2>
<a href="/">Home</a>

{% if user.id %}
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'child_create' %}">Procreate</a>
<a href="{% url 'child_list' %}">Progeny</a>
<a href="{% url 'inquiry_create' %}">Inquire</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'registration' %}">Sign up</a>
{%  endif %}


{% block body %}
{% endblock %}

</body>
</html>
