td p {
    color:#5cb85c;
    width: 38%;
    display: block;
}
    #other {
        color:#d9534f;
    }

.complete div {
    width: 100%;
    height: 100%;
    display:block;
    margin-left: 100px;
    text-indent: 200px;
    }

.complete {
    vertical-align: bottom;
}
.incomplete div {
    padding-left: 50px
}

.form-control {
    border-radius: 5px;
    display: inline;
}

.submit {
    margin-top: 30px;
    margin-bottom: -20px;
}

.form-label{
    text-decoration: underline;
    margin-top: 10px;
}

.status {

}

[data-link] {
    cursor: pointer;
}